/* Importe de fuentes Kona y Montserrat de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-primario: #EFF1FA;
    --color-secundario: #F3F5FC;
    --color-terciario: #0A3871;
    --color-resalte: #052051;
    --color-claro: #F3F8FF;
    --color-fuerte: #FF8400;

    --fuente-inter: "Inter", sans-serif;
}

body {
    font-family: var(--fuente-inter);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-secundario);
    color: var(--color-primario);
}

header {
    background-color: var(--color-terciario);
    color: var(--color-claro);
    width: 100%;
    padding: 2% 0% 2% 5%;
    text-align: center;
}

header img {
    width: 60px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

header h1 {
    display: inline;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
}

.caja {
    width: 90%;
    max-width: 600px;
    background-color: var(--color-secundario);
    padding: 2rem;
    border-radius: 8px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fuente-inter);
    font-size: 32px;
    
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 100%;
    min-height: 100px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--color-fuerte);
    border-radius: 4px;
    font-size: 1rem;
    resize: none;
}

.caja__Salida {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    
}

#texto-Salida {
    flex: 1;
}

button {
    background-color: var(--color-terciario);
    color: var(--color-claro);
    border: none;
    padding: 0.75rem 1.5rem;
    margin: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    transition: background-color 0.3s solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: var(--color-resalte);
}

.imagen__github img {
    width: 80px;
    height: auto;
}

.imagen__github {
    background-color: transparent;
    border: none;
    padding: 0;
}

#mensaje-de-validacion {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.5rem;
}

footer {
    background-color: var(--color-fuerte);
    color: var(--color-claro);
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    position: relative;
}

footer p {
    margin: 0;
}

/* Responsividad */
@media (max-width: 800px) {
    .container {
        padding: 1rem;
    }

    .button {
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
    }

    .caja__Salida {
        flex-direction: column;
    }

    .imagen__github {
        flex-direction: column;
    }

    .imagen__github img {
        margin: 10px 0;
    }

}

.caja__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
